# Data Aquisition

In [ ]:
import pandas as pd

In [ ]:
# Loads Dataset
df_titanic = pd.read_csv('/content/drive/MyDrive/CS240/Titanic.csv')

In [ ]:
df_titanic.head()

,index,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
#Show All Rows and Columns
df_titanic.shape

(891, 16)

**Data Description**
* index: Passenger index
* survived: Survival status (0 = No, 1 = Yes)
* pclass: Passenger class (1 = 1st class, 2 = 2nd class, 3 = 3rd class)
* sex: Passenger’s gender
* age: Passenger’s age
* sibsp: Number of siblings/spouses aboard
* parch: Number of parents/children aboard
* fare: Fare paid for the ticket
* embarked: Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)
* class: Equivalent to Pclass (1 = 1st class, 2 = 2nd class, 3 = 3rd class)
* who: Passenger’s category (man, woman, child)
* adult_male: Whether the passenger is an adult male or not (True or False)
* deck: Cabin deck
* embark_town: Port of embarkation (Cherbourg, Queenstown, Southampton)
* alive: Survival status (yes or no)
* alone: Whether the passenger is alone or not (True or False)

#Data Preparation

In [ ]:
#drop column 'index'
df_rm_index = df_titanic.drop('index', axis=1)

In [ ]:
df_rm_index.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# Checking and Handling Duplicate Data

In [ ]:
df_rm_index[df_rm_index.duplicated()]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
47,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
76,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
77,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
87,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
95,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
870,0,3,male,26.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
877,0,3,male,19.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True

In [ ]:
#Check duplicated
df_rm_index.duplicated().sum()

107

In [ ]:
#Drop duplicated data
df_rm_index.drop_duplicates(inplace=True)

# Checking and Handling Inconsistent Datatypes

In [ ]:
df_rm_index['sex'].unique()

array(['male', 'female'], dtype=object)

In [ ]:
for sex in df_rm_index.columns:
  print(f'{sex}: {df_rm_index[sex].unique()}')

survived: [0 1]
pclass: [3 1 2]
sex: ['male' 'female']
age: [22.   38.   26.   35.     nan 54.    2.   27.   14.    4.   58.   20.
 39.   55.   31.   34.   15.   28.    8.   19.   40.   66.   42.   21.
 18.    3.    7.   49.   29.   65.   28.5   5.   11.   45.   17.   32.
 16.   25.    0.83 30.   33.   23.   24.   46.   59.   71.   37.   47.
 14.5  70.5  32.5  12.    9.   36.5  51.   55.5  40.5  44.    1.   61.
 56.   50.   36.   45.5  20.5  62.   41.   52.   63.   23.5   0.92 43.
 60.   10.   64.   13.   48.    0.75 53.   57.   80.   70.   24.5   6.
  0.67 30.5   0.42 34.5  74.  ]
sibsp: [1 0 3 4 2 5 8]
parch: [0 1 2 5 3 4 6]
fare: [  7.25    71.2833   7.925   53.1      8.05     8.4583  51.8625  21.075
  11.1333  30.0708  16.7     26.55    31.275    7.8542  16.      29.125
  13.      18.       7.225   26.       8.0292  35.5     31.3875 263.
   7.8792   7.8958  27.7208 146.5208   7.75    10.5     82.1708  52.
   7.2292  11.2417   9.475   21.      41.5792  15.5     21.6792  17.8
  39.6875   7.8     76.7292  61.9792  27.75    46.9     80.      83.475
  27.9     15.2458   8.1583   8.6625  73.5     14.4542  56.4958   7.65
  29.      12.475    9.       9.5      7.7875  47.1     15.85    34.375
  61.175   20.575   34.6542  63.3583  23.      77.2875   8.6542   7.775
  24.15     9.825   14.4583 247.5208   7.1417  22.3583   6.975    7.05
  14.5     15.0458  26.2833   9.2167  79.2      6.75    11.5     36.75
   7.7958  12.525   66.6      7.3125  61.3792   7.7333  69.55    16.1
  15.75    20.525   55.      25.925   33.5     30.6958  25.4667  28.7125
   0.      15.05    39.      22.025   50.       8.4042   6.4958  10.4625
  18.7875  31.     113.275   27.      76.2917  90.       9.35    13.5
   7.55    26.25    12.275    7.125   52.5542  20.2125  86.5    512.3292
  79.65   153.4625 135.6333  19.5     29.7     77.9583  20.25    78.85
  91.0792  12.875    8.85   151.55    30.5     23.25    12.35   110.8833
 108.9     24.      56.9292  83.1583 262.375   14.     164.8667 134.5
   6.2375  57.9792  28.5    133.65    15.9      9.225   35.      75.25
  69.3     55.4417 211.5      4.0125 227.525   15.7417   7.7292  12.
 120.      12.65    18.75     6.8583  32.5      7.875   14.4     55.9
   8.1125  81.8583  19.2583  19.9667  89.1042  38.5      7.725   13.7917
   9.8375   7.0458   7.5208  12.2875   9.5875  49.5042  78.2667  15.1
   7.6292  22.525   26.2875  59.4      7.4958  34.0208  93.5    221.7792
 106.425   49.5     71.      13.8625   7.8292  39.6     17.4     51.4792
  26.3875  30.      40.125    8.7125  15.      33.      42.4     15.55
  65.      32.3208   7.0542   8.4333  25.5875   9.8417   8.1375  10.1708
 211.3375  57.      13.4167   7.7417   9.4833   7.7375   8.3625  23.45
  25.9292   8.6833   8.5167   7.8875  37.0042   6.45     6.95     8.3
   6.4375  39.4     14.1083  13.8583  50.4958   5.       9.8458  10.5167]
embarked: ['S' 'C' 'Q' nan]
class: ['Third' 'First' 'Second' '3']
who: ['man' 'woman' 'child']
adult_male: [ True False]
deck: [nan 'C' 'E' 'G' 'D' 'A' 'B' 'F']
embark_town: ['Southampton' 'Cherbourg' 'Queenstown' nan]
alive: ['no' 'yes']
alone: [False  True]

In [ ]:
 #Handling Inconsistent Data
 df_rm_index['sex'] = df_rm_index['sex'].replace('male', 'M')
 df_rm_index['sex'] = df_rm_index['sex'].replace('female', 'F')

In [ ]:
df_rm_index

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,M,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,F,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,F,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,F,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,M,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,F,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
887,1,1,F,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,F,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,M,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,M,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True